@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply dark:bg-black  dark:bg-no-repeat ;
   
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


